html {
    background-color: #4C4C80;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    border: 1px solid rgba(255, 255, 255, 0.12)
}